<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Your Superhero Team</title>
  </head>
  <body>
    <form method="POST" action="/teams">
      <h1>Your Team</h1>
      <h2></h2>
      <input type="submit" id="Submit">
    </form>
  </body>
</html>
